<form action="/urls" method ="post">
  Enter URL:
  <input type= "text" name="url[long_url]">
  <input type="submit" value="Submit">
</form>


<table>
  <% @urls.each do |url| %>
    <tr>
    <td><%= url.long_url %></td>
    <td><%= url.short_url %></td>
    <td><%= url.click_count %></td>
  <% end %>
</table>
