<html lang="en">
<head>
  	<h1>LOCAL HOST: 9393</h1>
	<h2>Like Bitly, but not</h2>
	<link rel="stylesheet" type="text/css" href="css/application.css">
    <script type="text/js" src="js/application.js"></script>
</head>

<body>
  <%= yield %>
</body>
</html>
